:root{
    --blue-color: #0de7f6;
    --text-color:rgb(54, 46, 46);
    --background:rgb(217, 217, 217);
    --heading:35px;
    --sub-heading:25px;
    --text:19px;
    --primary-light-blue: #8DB9ED;
   --primary-line-color: #ccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: var(--background); */
    color: var(--text-color);
}
h1{
    font-size: var(--heading);
    color: var(--text-color);
}
p{
    font-size: var(--text);
}
h2{
    font-size: var(--sub-heading);
}
button{
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;    
    margin-top: 40px;
    background: var(--blue-color);
    
}
#nav-bar{
    width: 100%;
    display: flex;
    position: fixed;
    background: #000;
    z-index: 9;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid var(--blue-color);
    padding: 0 40px;
}
#nav-bar ul{
    list-style: none;
}
#nav-bar ul li img:nth-child(1){
    list-style: none;
    height: 40px;
}
#nav-bar ul li i{
    color: var(--blue-color);
    cursor: pointer;
}
.info{
    margin: auto;
    padding-top: 0px;
   
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.info>div>img:nth-child(1){
max-width: 800px;
}
.info>div:nth-child(1){
/* padding: 0 60px 0 0; */
/* border: 1px solid black; */
max-width: 100%;
}
.info>div:nth-child(1) p{
    width: 100%;
}
.know{
    padding: 30px 0;
    margin-top: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0bb87e;
}
.know>div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    
}
.know a{
    
    font-size: 16px;
    margin-top: 20px;
}
.know button{
    margin-top: 0;
}
.know>div>div{
   padding: 0 20px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
    flex-direction: column;
    border-radius: 9px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* flex-direction: column; */
}

.know>div>div>div{
    display: flex;
    flex-direction: column;
}
.card1{
    margin-top: 80px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1BBFE9;
}

.card1>div{
   
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* card css */
.container {
    margin-left: 20px;
    position: relative;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #1BBFE9; */
    /* clip-path: square(150px at 80% 20%); */
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    /* clip-path: square(00px at 80% -20%); */
}

.container .card:after {
    content: "QR";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .card .imgBx img {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg); */
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}






.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 

/* footer */
ul {
    list-style: none
  }
  a {
    text-decoration: none
  }
  .generic-anchor {
      color: var(--primary-light-blue);
     
  }
  .flex-rw {
    display: flex;
    flex-flow: row wrap;
  }
 
  footer {
    background: rgb(55,55,55);
    margin-top: auto;
    width: 100%
  }
  .footer-list-top {
    width: 33.333%
  }
  .footer-list-top > li {
    text-align: center;
    padding-bottom: 10px
  }
  .footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif
  }
  .footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif
  }
  .footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
  }
  .footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid var(--primary-line-color);
    width: calc(100% - 20px)
  }
  .footer-social-overlap {
    position: relative;
    z-index: 2;
    background: rgb(55,55,55);
    padding: 0 20px
  }
  .footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em "Oswald", sans-serif;
    color: #fff
  }
  .footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px
  }
  .footer-social-overlap > a {
    font-size: 3em
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0.38em
  }
  .footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--primary-line-color);
    margin-top: 10px
  }
  .footer-bottom-section > div:first-child {
    margin-right: auto
  }
  .footer-bottom-wrapper {
    font-size: 1.5em;
    color: #fff
  }
  .footer-address {
    display: inline;
    font-style: normal
  }


  @media only screen and (max-width: 1100px){
    .info{
    padding-top: 80px;
    }
    .card1>div{
        flex-direction: column;
    }
    .card1>div>div{
       margin-top: 20px;
    }
    .info{
        /* flex-direction: column; */
        padding: 0;
        width: 100%;
        padding-top: 90px;
    }
    .info>div>img{
        width:350px ;
        
    }
  }
  @media only screen and (max-width: 768px) {
    .know>div{
        flex-direction: column;
        margin-top: 90px;
    }
    .know>div>div{
        width: 100%;
        margin: 10px 0;
    }
    .info{
        flex-direction: column;
        padding: 80px 0 0 0 ;
        width: 100%;
    }
    .info>div{
        width: 100%;
        padding: 0;
    }
    .info>div>img{
        max-width: 400px;
    }
    .footer-list-header {
      font-size: 2em
    }
    .footer-list-anchor {
      font-size: 1.1em
    }
    .footer-social-connect {
      font-size: 2.5em
    }
    .footer-social-overlap > a {
      font-size: 2.24em
    }
    .footer-bottom-wrapper {
      font-size: 1.3em
    }
  }
  @media only screen and (max-width: 568px) {
   
    .footer-list-top {
      width: 100%
    }
    .footer-list-header {
      font-size: 3em;
    }
    .footer-list-anchor {
      font-size: 1.5em
    }
    .footer-social-section {
      justify-content: center
    }
    .footer-social-section::after {
      top: 25%
    }
    .footer-social-connect {
      margin-bottom: 10px;
      padding: 0 10px
    }
    .footer-social-overlap {
      display: flex;
      justify-content: center;
    }
    .footer-social-icons-wrapper {
      width: 100%;
      padding: 0
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 20px;
    }
    .footer-bottom-section {
      padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
      text-align: center;
      width: 100%;
      margin-top: 10px
    }
  }
  @media only screen and (max-width: 480px) {
    h1{
        font-size: 25px;
    }
    .footer-social-overlap > a {
      margin: auto
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 0;
    }
    .footer-bottom-rights {
      display: block
    }
    .info>div>img{
        width: 250px;
        height: auto;
    }
  }
  @media only screen and (max-width: 320px) {
    .footer-list-header {
      font-size: 2.2em
    }
    .footer-list-anchor {
      font-size: 1.2em
    }
    .footer-social-connect {
      font-size: 2.4em
    }
    .footer-social-overlap > a {
      font-size: 2.24em
    }
    .footer-bottom-wrapper {
      font-size: 1.3em
    }
  }